{% extends 'layout.html' %}

{% block contenido %}

<div class="container">
    <h1 style="padding: 40px;">Laguna Aeróbica</h1>
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4">
            <div style="padding-bottom: 20px;">
                <div class="card" style="width: 100%;">
                    <div class="card-body">
                        <h5 class="card-title text-center">AIREADOR 1</h5>
                        <h6 class="card-subtitle mb-2 text-success text-center"><i>Activo</i></h6><br>
                        <h6 class="card-text">Potencia actual: <span class="text-success" style="text-align: right;">100 W</span></h6>
                        <h6 class="card-text">Porcentaje de consumo: <span class="text-success" style="text-align: right;">90%</span></h6>
                        <h6 class="card-text">Tiempo activado: <span class="text-warning" style="text-align: right;">01:28:14 hrs</span></h6><br>
                        <a href="#" class="btn btn-success">Activar</a>
                        <a href="#" class="btn btn-danger" style="float: right;">Apagar</a>
                    </div>
                </div>          
            </div>        
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div style="padding-bottom: 20px;">
                <div class="card" style="width: 100%;">
                    <div class="card-body">
                        <h5 class="card-title text-center">AIREADOR 2</h5>
                        <h6 class="card-subtitle mb-2 text-muted text-center"><i>Inactivo</i></h6><br>
                        <h6 class="card-text">Potencia actual: <span class="text-muted" style="text-align: right;">0 W</span></h6>
                        <h6 class="card-text">Porcentaje de consumo: <span class="text-muted" style="text-align: right;">0%</span></h6>
                        <h6 class="card-text">Tiempo activado: <span class="text-muted" style="text-align: right;">0 hrs</span></h6><br>
                        <a href="#" class="btn btn-success">Activar</a>
                        <a href="#" class="btn btn-danger" style="float: right;">Apagar</a>
                    </div>
                </div>          
            </div>        
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div style="padding-bottom: 20px;">
                <div class="card" style="width: 100%;">
                    <div class="card-body">
                        <h5 class="card-title text-center">AIREADOR 3</h5>
                        <h6 class="card-subtitle mb-2 text-success text-center"><i>Activo</i></h6><br>
                        <h6 class="card-text">Potencia actual: <span class="text-success" style="text-align: right;">50 W</span></h6>
                        <h6 class="card-text">Porcentaje de consumo: <span class="text-success" style="text-align: right;">30%</span></h6>
                        <h6 class="card-text">Tiempo activado: <span class="text-success" style="text-align: right;">00:40:55 hrs</span></h6><br>
                        <a href="#" class="btn btn-success">Activar</a>
                        <a href="#" class="btn btn-danger" style="float: right;">Apagar</a>
                    </div>
                </div>          
            </div>        
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div style="padding-bottom: 20px;">
                <div class="card" style="width: 100%;">
                    <div class="card-body">
                        <h5 class="card-title text-center">AIREADOR 4</h5>
                        <h6 class="card-subtitle mb-2 text-muted text-center"><i>Inactivo</i></h6><br>
                        <h6 class="card-text">Potencia actual: <span class="text-muted" style="text-align: right;">0 W</span></h6>
                        <h6 class="card-text">Porcentaje de consumo: <span class="text-muted" style="text-align: right;">0%</span></h6>
                        <h6 class="card-text">Tiempo activado: <span class="text-muted" style="text-align: right;">0 hrs</span></h6><br>
                        <a href="#" class="btn btn-success">Activar</a>
                        <a href="#" class="btn btn-danger" style="float: right;">Apagar</a>
                    </div>
                </div>          
            </div>        
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div style="padding-bottom: 20px;">
                <div class="card" style="width: 100%;">
                    <div class="card-body">
                        <h5 class="card-title text-center">AIREADOR 5</h5>
                        <h6 class="card-subtitle mb-2 text-muted text-center"><i>Inactivo</i></h6><br>
                        <h6 class="card-text">Potencia actual: <span class="text-muted" style="text-align: right;">0 W</span></h6>
                        <h6 class="card-text">Porcentaje de consumo: <span class="text-muted" style="text-align: right;">0%</span></h6>
                        <h6 class="card-text">Tiempo activado: <span class="text-muted" style="text-align: right;">0 hrs</span></h6><br>
                        <a href="#" class="btn btn-success">Activar</a>
                        <a href="#" class="btn btn-danger" style="float: right;">Apagar</a>
                    </div>
                </div>          
            </div>        
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div style="padding-bottom: 20px;">
                <div class="card" style="width: 100%;">
                    <div class="card-body">
                        <h5 class="card-title text-center">AIREADOR 6<span style="float: right;"><a><i class="bi bi-exclamation-square-fill" style="color: orange;"></i></a></span></h5>
                        <h6 class="card-subtitle mb-2 text-success text-center"><i>Activo</i></h6><br>
                        <h6 class="card-text">Potencia actual: <span class="text-danger" style="text-align: right;">120 W</span></h6>
                        <h6 class="card-text">Porcentaje de consumo: <span class="text-danger" style="text-align: right;">150%</span></h6>
                        <h6 class="card-text">Tiempo activado: <span class="text-danger" style="text-align: right;">03:50:22 hrs</span></h6><br>
                        <a href="#" class="btn btn-success">Activar</a>
                        <a href="#" class="btn btn-danger" style="float: right;">Apagar</a>
                    </div>
                </div>          
            </div>        
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div style="padding-bottom: 20px;">
                <div class="card" style="width: 100%;">
                    <div class="card-body">
                        <h5 class="card-title text-center">AIREADOR 7</h5>
                        <h6 class="card-subtitle mb-2 text-success text-center"><i>Activo</i></h6><br>
                        <h6 class="card-text">Potencia actual: <span class="text-success" style="text-align: right;">70 W</span></h6>
                        <h6 class="card-text">Porcentaje de consumo: <span class="text-success" style="text-align: right;">60%</span></h6>
                        <h6 class="card-text">Tiempo activado: <span class="text-success" style="text-align: right;">00:55:17 hrs</span></h6><br>
                        <a href="#" class="btn btn-success">Activar</a>
                        <a href="#" class="btn btn-danger" style="float: right;">Apagar</a>
                    </div>
                </div>          
            </div>        
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div style="padding-bottom: 20px;">
                <div class="card" style="width: 100%;">
                    <div class="card-body">
                        <h5 class="card-title text-center">AIREADOR 8</h5>
                        <h6 class="card-subtitle mb-2 text-success text-center"><i>Activo</i></h6><br>
                        <h6 class="card-text">Potencia actual: <span class="text-success" style="text-align: right;">100 W</span></h6>
                        <h6 class="card-text">Porcentaje de consumo: <span class="text-success" style="text-align: right;">100%</span></h6>
                        <h6 class="card-text">Tiempo activado: <span class="text-warning" style="text-align: right;">02:00:24 hrs</span></h6><br>
                        <a href="#" class="btn btn-success">Activar</a>
                        <a href="#" class="btn btn-danger" style="float: right;">Apagar</a>
                    </div>
                </div>          
            </div>        
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div style="padding-bottom: 20px;">
                <div class="card" style="width: 100%;">
                    <div class="card-body">
                        <h5 class="card-title text-center">AIREADOR 9</h5>
                        <h6 class="card-subtitle mb-2 text-success text-center"><i>Activo</i></h6><br>
                        <h6 class="card-text">Potencia actual: <span class="text-success" style="text-align: right;">100 W</span></h6>
                        <h6 class="card-text">Porcentaje de consumo: <span class="text-success" style="text-align: right;">90%</span></h6>
                        <h6 class="card-text">Tiempo activado: <span class="text-warning" style="text-align: right;">01:11:17 hrs</span></h6><br>
                        <a href="#" class="btn btn-success">Activar</a>
                        <a href="#" class="btn btn-danger" style="float: right;">Apagar</a>
                    </div>
                </div>          
            </div>        
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div style="padding-bottom: 20px;">
                <div class="card" style="width: 100%;">
                    <div class="card-body">
                        <h5 class="card-title text-center">AIREADOR 10</h5>
                        <h6 class="card-subtitle mb-2 text-muted text-center"><i>Inactivo</i></h6><br>
                        <h6 class="card-text">Potencia actual: <span class="text-muted" style="text-align: right;">0 W</span></h6>
                        <h6 class="card-text">Porcentaje de consumo: <span class="text-muted" style="text-align: right;">0%</span></h6>
                        <h6 class="card-text">Tiempo activado: <span class="text-muted" style="text-align: right;">0 hrs</span></h6><br>
                        <a href="#" class="btn btn-success">Activar</a>
                        <a href="#" class="btn btn-danger" style="float: right;">Apagar</a>
                    </div>
                </div>          
            </div>        
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div style="padding-bottom: 20px;">
                <div class="card" style="width: 100%;">
                    <div class="card-body">
                        <h5 class="card-title text-center">AIREADOR 11</h5>
                        <h6 class="card-subtitle mb-2 text-success text-center"><i>Activo</i></h6><br>
                        <h6 class="card-text">Potencia actual: <span class="text-success" style="text-align: right;">90 W</span></h6>
                        <h6 class="card-text">Porcentaje de consumo: <span class="text-warning" style="text-align: right;">120%</span></h6>
                        <h6 class="card-text">Tiempo activado: <span class="text-success" style="text-align: right;">00:40:58 hrs</span></h6><br>
                        <a href="#" class="btn btn-success">Activar</a>
                        <a href="#" class="btn btn-danger" style="float: right;">Apagar</a>
                    </div>
                </div>          
            </div>        
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div style="padding-bottom: 20px;">
                <div class="card" style="width: 100%;">
                    <div class="card-body">
                        <h5 class="card-title text-center">AIREADOR 12</h5>
                        <h6 class="card-subtitle mb-2 text-muted text-center"><i>Inactivo</i></h6><br>
                        <h6 class="card-text">Potencia actual: <span class="text-muted" style="text-align: right;">0 W</span></h6>
                        <h6 class="card-text">Porcentaje de consumo: <span class="text-muted" style="text-align: right;">0%</span></h6>
                        <h6 class="card-text">Tiempo activado: <span class="text-muted" style="text-align: right;">0 hrs</span></h6><br>
                        <a href="#" class="btn btn-success">Activar</a>
                        <a href="#" class="btn btn-danger" style="float: right;">Apagar</a>
                    </div>
                </div>          
            </div>          
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div style="padding-bottom: 20px;">
                <div class="card" style="width: 100%;">
                    <div class="card-body">
                        <h5 class="card-title text-center">AIREADOR 13</h5>
                        <h6 class="card-subtitle mb-2 text-muted text-center"><i>Inactivo</i></h6><br>
                        <h6 class="card-text">Potencia actual: <span class="text-muted" style="text-align: right;">0 W</span></h6>
                        <h6 class="card-text">Porcentaje de consumo: <span class="text-muted" style="text-align: right;">0%</span></h6>
                        <h6 class="card-text">Tiempo activado: <span class="text-muted" style="text-align: right;">0 hrs</span></h6><br>
                        <a href="#" class="btn btn-success">Activar</a>
                        <a href="#" class="btn btn-danger" style="float: right;">Apagar</a>
                    </div>
                </div>          
            </div>        
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div style="padding-bottom: 20px;">
                <div class="card" style="width: 100%;">
                    <div class="card-body">
                        <h5 class="card-title text-center">AIREADOR 14 <span style="float: right;"><a><i class="bi bi-exclamation-square-fill" style="color: orange;"></i></a></span></h5>
                        <h6 class="card-subtitle mb-2 text-success text-center"><i>Activo</i></h6><br>
                        <h6 class="card-text">Potencia actual: <span class="text-danger" style="text-align: right;">160 W</span></h6>
                        <h6 class="card-text">Porcentaje de consumo: <span class="text-danger" style="text-align: right;">140%</span></h6>
                        <h6 class="card-text">Tiempo activado: <span class="text-danger" style="text-align: right;">02:55:09 hrs</span></h6><br>
                        <a href="#" class="btn btn-success">Activar</a>
                        <a href="#" class="btn btn-danger" style="float: right;">Apagar</a>
                    </div>
                </div>          
            </div>        
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div style="padding-bottom: 20px;">
                <div class="card" style="width: 100%;">
                    <div class="card-body">
                        <h5 class="card-title text-center">AIREADOR 15</h5>
                        <h6 class="card-subtitle mb-2 text-muted text-center"><i>Inactivo</i></h6><br>
                        <h6 class="card-text">Potencia actual: <span class="text-muted" style="text-align: right;">0 W</span></h6>
                        <h6 class="card-text">Porcentaje de consumo: <span class="text-muted" style="text-align: right;">0%</span></h6>
                        <h6 class="card-text">Tiempo activado: <span class="text-muted" style="text-align: right;">0 hrs</span></h6><br>
                        <a href="#" class="btn btn-success">Activar</a>
                        <a href="#" class="btn btn-danger" style="float: right;">Apagar</a>
                    </div>
                </div>          
            </div>        
        </div>
    </div>
</div>

{% endblock contenido %}