{% extends 'layout.html' %}

{% block contenido %}
    <div class="container">
        <div class="row">
            {% for laguna in lagunas %}
                <div class="col-12 col-md-4 mt-5">
                    <div class="card shadow">
                        <div class="card-body">
                            <h2>
                                {{laguna}}
                            </h2>
                            <h3 class="text-center mt-5">
                                Estado: 
                                {% if laguna.estado.lower == "optimo" %}
                                    <span class="badge bg-success rounded-pill">
                                {% elif laguna.estado.lower == "regular" %}
                                        <span class="badge bg-warning rounded-pill">
                                {% elif laguna.estado.lower == "malo" %}
                                        <span class="badge bg-danger rounded-pill">
                                {% else %}
                                    <span class="badge bg-secondary rounded-pill">
                                {% endif %}
                                    {{laguna.estado}}
                                </span>
                            </h3>
                            <a href="{% url 'detalleLagunas' laguna.pk %} " role="button" class="btn btn-orange w-100 mt-5">Detalle</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock contenido %}